.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background: #3a6073;
  color: #fff;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.sidebar {
  background-color: #3a6073;
  color: #fff;
  width: 150px;
  padding: 2rem;
  height: calc(100vh - 60px);
  position: fixed;
  top: 60px;
  left: 0;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
}

.main-content-container {
  margin-left: 200px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.main-content {
  padding: 2rem;
  background: #fff;
  flex: 1;
  display: flex;
  justify-content: space-between; /* PieChart ve Calendar'ı yan yana hizalar */
  gap: 1rem;
}

.pie-chart-container {
  display: flex;
  justify-content: flex-start; /* PieChart'ı sola hizalar */
  padding-left: 2rem; /* İsteğe bağlı olarak sola boşluk ekler */
}

.calendar-container {
  display: flex;
  justify-content: flex-end; /* Calendar'ı sağa hizalar */
  max-width: 300px; /* Calendar'ın genişliğini sınırlandırır */
  max-height: 300px; /* Calendar'ın yüksekliğini sınırlandırır */
  overflow: hidden; /* İçeriğin taşmasını önler */
}

/* Responsive tasarım için medya sorguları */
@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
    align-items: center; /* İçerikleri ortalar */
  }

  .pie-chart-container,
  .calendar-container {
    max-width: 100%; /* Küçük ekranlarda genişlik sınırını kaldırır */
    justify-content: center; /* Küçük ekranlarda içerikleri ortalar */
  }
}
